	@charset "utf-8";
/* CSS Document */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body
{
	background-color: #222226;
	font-family: Tahoma, Arial, sans-serif;
    color: white;
	margin: 0;
    padding: 0;
}

#main_wrapper
{
    width: 1000px;
    margin: auto;
	position:relative;
	top: 30px;
}

 
aside{
    float: left;
    margin: 0 30px;
	background-color: #2d2d33;
	width: 190px;
	height: 530px;
	border: 1px solid white;
	padding: 0px 20px 20px; 
	font-size: 11px;
	}

aside>img{
    margin: auto;	
}

address {
	font-style:normal;
	word-wrap: break-word;
    width: 145px;
	position: relative;
	top: 40px;
	}
	
address > p {
	line-height: 150%;
}

address > a {
	color: #92b5ce;
	font-size:larger;
    text-decoration: underline;
    -moz-text-decoration-color: #92b5ce; /* Code for Firefox */
    text-decoration-color: #92b5ce;
	-webkit-text-decoration-color: #92b5ce;
	position: relative;
	top: -5px;
}

address > h3 {
	color: #92b5ce;
	position: relative;
	top: 10px;
	
}

address > h5 {
		font-size:larger;
		position: relative;
	    top: -5px;
}
address > a.email {
	font-size: 100%;
	position: relative;
	    top: -35px;
}
	
footer {
	position: relative;
	top: 60px;
	font-weight: bold;
}

/* accordeon */

.accordion {
  width: 100%;
  max-width: 730px;
  height: 530px;
  overflow: hidden;
  margin: 25px auto;
}

.accordion ul {
  width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  padding: 0;
}

.accordion li {
	display: table-cell;
	height: 530px;
}

.accordion a {
	text-decoration: none;
	color: white;
	white-space: nowrap;
	font-size: 20px;
} 

.cell {
  vertical-align: bottom;
  position: relative;
  width: 20%;
  transition: width 0.5s ease;
  }

.wrapper {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  } 

.text {
  vertical-align: middle;
  width: 50px;
  position: relative;
    }

.text-container {
  position: relative;
  width: 50px;
  height: 530px;
}

.headline {
  text-align: center;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  position: absolute;
  line-height: 50px;
  height: 50px;
  bottom: -40px;
  width: 530px;
}

.picture {
  width: 100%;
  border: 1px solid white;
  background-repeat: no-repeat;
  background-position: center top;
}

.accordion > ul:hover .cell { width: 4%; }
.accordion > ul:hover .cell:hover { width: 40%; }

#transparent { background-image: url(../images/Transparent.png); }
#design { background-image: url(../images/Design.png); }
#luxury { background-image: url(../images/Luxury.png); }
#variable { background-image: url(../images/Variable.png); }
#fixing { background-image: url(../images/Fixing.png); }


